In [2]:
import requests # you need this module to make an API call
import pandas as pd

In [5]:
api_url = "http://api.open-notify.org/astros.json"

In [6]:
response = requests.get(api_url)

In [7]:
if response.ok:            
    data = response.json()

In [8]:
print(data)

{'message': 'success', 'people': [{'name': 'Jasmin Moghbeli', 'craft': 'ISS'}, {'name': 'Andreas Mogensen', 'craft': 'ISS'}, {'name': 'Satoshi Furukawa', 'craft': 'ISS'}, {'name': 'Konstantin Borisov', 'craft': 'ISS'}, {'name': 'Oleg Kononenko', 'craft': 'ISS'}, {'name': 'Nikolai Chub', 'craft': 'ISS'}, {'name': "Loral O'Hara", 'craft': 'ISS'}], 'number': 7}

In [9]:
print(data.get('number'))

7

In [10]:
astronauts = data.get('people')
print("There are {} astronauts on ISS".format(len(astronauts)))
print("And their names are :")
for astronaut in astronauts:
    print(astronaut.get('name'))

There are 7 astronauts on ISS
And their names are :
Jasmin Moghbeli
Andreas Mogensen
Satoshi Furukawa
Konstantin Borisov
Oleg Kononenko
Nikolai Chub
Loral O'Hara

In [11]:
print(astronauts)

[{'name': 'Jasmin Moghbeli', 'craft': 'ISS'}, {'name': 'Andreas Mogensen', 'craft': 'ISS'}, {'name': 'Satoshi Furukawa', 'craft': 'ISS'}, {'name': 'Konstantin Borisov', 'craft': 'ISS'}, {'name': 'Oleg Kononenko', 'craft': 'ISS'}, {'name': 'Nikolai Chub', 'craft': 'ISS'}, {'name': "Loral O'Hara", 'craft': 'ISS'}]

In [12]:
#Import required libraries
import pandas as pd
import json

In [13]:

def get_number_of_jobs_T(technology):
    api_url="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/module%201/Accessing%20Data%20Using%20APIs/jobs.json"
    response=requests.get(api_url)
    list=response.json()
    if response.status_code==200:
        number_of_jobs=0
        for dictionary in list:
            if technology.lower() in dictionary['Key Skills'].lower():
                number_of_jobs=number_of_jobs + 1
    else:
        print("-1")
    #your code goes here
    return technology,number_of_jobs

In [14]:
def get_number_of_jobs_L(location):
    api_url="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/module%201/Accessing%20Data%20Using%20APIs/jobs.json"
    response=requests.get(api_url)
    list=response.json()
    if response.status_code==200:
        number_of_jobs=0
        for dictionary in list:
            if location.lower() in dictionary['Location'].lower():
                number_of_jobs=number_of_jobs + 1
            
    else:
        print("-1")
    #your code goes here
    return location,number_of_jobs

In [15]:
get_number_of_jobs_T("Project management")

('Project management', 827)

In [ ]:
#your code goes here
get_number_of_jobs_L("Los Angeles")

In [ ]:

"""
from openpyxl import Workbook        # import Workbook class from module openpyxl
wb=Workbook()                        # create a workbook object
ws=wb.active                         # use the active worksheet
ws.append(['Country','Continent'])   # add a row with two columns 'Country' and 'Continent'
ws.append(['Eygpt','Africa'])        # add a row with two columns 'Egypt' and 'Africa'
ws.append(['India','Asia'])          # add another row
ws.append(['France','Europe'])       # add another row
wb.save("countries.xlsx")            # save the workbook into a file called countries.xlsx


"""

In [ ]:
for i in set_of_locations:
    print(list(get_number_of_jobs_L(i)))

In [ ]:
# your code goes here
from openpyxl import Workbook        # import Workbook class from module openpyxl

In [ ]:
# your code goes here
wb=Workbook()
ws=wb.active

In [ ]:
#your code goes here
ws.append(['Location','No of Jobs'])
for i in set_of_locations:
    ws.append(list(get_number_of_jobs_L(i)))

In [ ]:
#your code goes here
wb.save("job-postings.xlsx")

In [ ]:
new_wb=Workbook()
ws=new_wb.active

In [ ]:
# your code goes here
skills=['C',
'C#',
'C++',
'Java',
'JavaScript',
'Python',
'Scala',
'Oracle',
'SQL Server',
'MySQL Server',
'PostgreSQL',
'MongoDB']
ws.append(['skill','no of jobs'])
for skill in skills:
    ws.append(list(get_number_of_jobs_T(skill)))

In [ ]:
wb.save("skills.xlsx")